html {
  scroll-behavior: smooth;
}

h2 {
  font-size: 32px;
  text-align: center;
}

h3 {
  font-size: 24px;
}

.header-section {
  position: sticky;
  top: 0;
}
//Header
header {
  display: flex;
  .logo {
    width: 150px;
  }
  justify-content: space-between;
  padding: 20px;

  nav {
    height: 20px;
    a {
      text-decoration: none;
      color: #000;
      font-size: 18px;
      margin: 0 10px 0 10px;
      transition: border 0.2s ease;
      display: inline-block;
      width: max-content;

      &.active {
        border-bottom: 1px solid #555;
      }
      &:hover {
        color: #555;
        border-bottom: 3px solid #555;
      }
    }
  }
  align-items: center;
  background-color: #fff;
}

//Hero
.herobody {
  height: 70vh;
  display: flex;
  .left-side {
    display: flex;
    flex-direction: column;
    width: 40%;
    background-color: #f8f8f8;
    .summary {
      color: #000;
      font-size: 32px;
      padding-bottom: 70px;
      text-align: left;
      padding: 20px;
    }
    .autotype {
      margin-top: 40px;
      width: 90%;
      .text {
        color: #555;
        font-size: 48px;
      }
      .cursor {
        margin-left: 5px;
        color: #555;
      }
    }
    align-items: center;
  }
  .right-side {
    width: 65%;
    background-image: url("./images/heroimage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(66, 62, 62, 0.7);
    background-blend-mode: color;
  }
}

.down-arrow-section {
  margin-top: 11vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70px;
  a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    span {
      display: block;
      &:hover {
        text-decoration: underline;
      }
    }
    img {
      width: 32px;
      animation-name: downArrowAnimation;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
    }
  }
}

@keyframes downArrowAnimation {
  from {
    padding-top: 0px;
  }
  to {
    padding-top: 10px;
  }
}

.about-us {
  width: 80%;
  margin: auto;
  h2 {
    padding-top: 45px;
    padding-bottom: 10px;
  }

  .left-text,
  .right-text {
    display: flex;
    align-items: center;
  }

  .left-text {
    strong {
      font-size: 20px;
    }
    outline: 5px solid #555 !important;
  }
  .right-text {
    outline: 5px solid #555 !important;
  }
}

.services {
  width: 100%;
  .services-content {
    width: 80%;
  }
}
.about-us,
.services {
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding-bottom: 25px;

  .about-us-summary,
  .services-content {
    margin-top: 9vh;
    display: flex;
    flex-direction: column;
    .left-side,
    .right-side {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      .empty {
        width: 50%;
        height: 30vh;
      }
      .left-text,
      .right-text {
        width: 50%;
        height: 30vh;
        text-align: center;
        line-height: 24px;
      }

      p {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
}

.services {
  h2 {
    padding-top: 50px;
  }
  background-color: #fff;
  .services-content {
    .left-side,
    .right-side {
      .left-text,
      .right-text {
        background-color: #f8f8f8;
        border: 0px;
      }
    }
    .left-side {
      .left-text {
        background-color: #f8f8f8;
        border-left: 5px solid #555;
      }
      .empty {
        background-image: url("./images/business.jpg");
      }
    }
    .right-side {
      .empty {
        background-image: url("./images/solutions.jpg");
      }
      .right-text {
        border-right: 5px solid #555;
      }
    }

    .empty {
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

.services-tags {
  display: flex;
  flex-flow: wrap;
  gap: 8px;
  justify-content: center;
  width: 70%;
  margin: auto;
  p.tags {
    background-color: transparent;
    padding: 5px 10px;
    border: 1px solid #000;
    border-radius: 6px;
    margin: 0 5px;
    font-size: 14px;
  }
}

.careers {
  h2 {
    padding-top: 50px;
  }
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  text-align: justify;

  .title {
    font-size: 18px;
    text-decoration: underline;
    font-weight: bold;
    span {
      display: inline-block;
      text-decoration: none;
      font-weight: normal;
      font-size: 12px;
    }
  }
  p {
    font-size: 14px;
  }
  span {
    font-weight: bold;
  }
  .careers-modal {
    text-align: center;
    .empty-line {
      margin-top: 15px;
      display: inline-block;
      border: 0.5px solid #555;
      width: 150px;
    }
  }
}

.careers-modal {
  .apply-btn {
    background-color: #000;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    font-size: 14px;

    &:hover {
      transform: scale(1.1);
      transition: transform 0.2s ease-in;
    }
  }
}

.contact {
  h2 {
    padding-top: 50px;
  }
  margin-bottom: 40px;
  form {
    margin: auto;
    width: max-content;
  }
}
.form {
  input[type="text"],
  input[type="email"],
  textarea {
    width: 250px;
    padding: 10px;
    margin: 5px 0 5px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  textarea {
    width: 300px;
  }

  /* Apply additional styles when the text input is focused */
  input[type="text"]:focus,
  input[type="email"]:focus,
  textarea:focus {
    border-color: #bfbfbf;
    outline: none; /* Remove default focus outline */
    box-shadow: 0 0 5px rgba(191, 191, 191, 0.5);
  }

  /* Apply styles when the text input is hovered */
  input[type="text"]:hover,
  input[type="email"]:hover,
  textarea:hover {
    background-color: #f8f9fa;
  }

  input[type="file"] {
    margin: 5px 0 5px 20px;
  }

  button[type="submit"] {
    display: block;
    margin: 20px auto 0;
    border: none;
    padding: 8px 15px;
    background-color: #000;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;

    &:hover {
      transform: scale(1.03);
      // transform: translate(1px, 1px);
      transition: transform 0.1s;
    }
  }
  label span {
    display: inline-block;
    width: 100px;
  }

  label.file {
    display: inline-block;
    margin-top: 20px;
  }

  label.message {
    display: flex;
    align-items: center;
  }
}
.small-text {
  font-size: 12px;
  font-weight: 300;
}

.med-text {
  text-align: justify;
  font-size: 14px;
}

.modal-content {
  margin: 20px;
}

.spinner {
  margin: auto;
  width: 30px;
  height: 30px;
  border: 5px solid #000;
  border-top: 5px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.something-wrong {
  color: #e74c3c;
  text-align: center;
}

.submitted {
  background-image: url("./images/greentick.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
  text-align: center;
}

footer {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #555;
}
// #000000 (Black)
// #555555 (Dark Gray)
// #ffffff (White)
// #bfbfbf (Light Gray)
// #3498db (Royal Blue)
// #e74c3c (Alizarin Red)
// #2ecc71 (Emerald Green)
// #f39c12 (Orange)
// #9b59b6 (Amethyst Purple)
// #16a085 (Green Sea)
